{% extends 'layout/base.html' %}
{% load static %}
{% block title %}{{block.super }} :: Вход{% endblock %}
{% block panel %}
  <h5>Вход</h5>
  <div class="login-form">
    <form action="{% url 'accounts:login' %}" method="post">
      <p><label for="username">Имя пользователя:</label>
        <input id="username" type="text" name="username" autofocus autocapitalize="none" required>
      </p>
      <p><label for="password">Пароль:</label>
        <input id="password" type="password" name="password" required>
      </p>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input id="login" type="submit" value="Войти"></p>
      </form>
  </div>
{% endblock %}
